* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	margin-left: -90px;
	
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}
 body {
            transition: background-color 0.3s, color 0.3s;
        }

        .dark-mode {
            background-color: #0d1021;
            color: #ffffff;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #fff;
            transition: 0.4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
.navigate {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	text-align: left;
	position: absolute fixed;
	list-style-type: none;
	
}
a{
	font-size: calc(var(--index) * 1.15);
	letter-spacing: calc(var(--index) / 20.25);	
	color: rgb(149, 195, 135);
	text-shadow: 0 0 15px #9d822b;
	cursor: pointer;
	text-decoration: none;
	position: relative;
    
	
}
.nav1{
	margin-top: -300px;
	margin-bottom: 80px;
	margin-left: -120px;
	position: absolute fixed;
	
}
.nav2{
	position: absolute fixed;
    margin-top: -70px;
	margin-left: -120px;
}
.nav3{
	position: absolute fixed;
	margin-left: -120px;
}
ul{
	list-style-type: none;
	
}

  
  
  


